# Server Port Configuration
PORT=5000

# MongoDB Connection URI
# Options:
# 1. MongoDB Atlas (Cloud, Free & Recommended since you do not have MongoDB installed):
#    Format: mongodb+srv://<username>:<password>@cluster0.xxxx.mongodb.net/<db_name>?retryWrites=true&w=majority
# 2. MongoDB Local (If installed locally in the future):
#    Format: mongodb://localhost:27017/task_tracker_db
MONGO_URI=mongodb+srv://manumanvith06_db_user:W8b0uDpS5EOpksp6@cluster0.nrr0bce.mongodb.net/?appName=Cluster0